@import 'input';
@import 'image_styling';

body {
    //background-color: #dec8e8;
    background-image: url("/src/img/pastel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f2d8e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
    font-size: 2rem;
    font-family: "Indie Flower",cursive;
    background-attachment: fixed;
    padding: 20px;
    text-shadow: 0 0 5px #2b0621,0 0 8px #081316;
    font-weight: bold;
h1 { 
    color: #f53a8e;
    margin: 0 auto;}
}

#playerNameInput {
    font-family: "Indie Flower",cursive;
    font-size: 1.6rem;
  }

#startGameBtn {
    padding: 5px;
    font-size: 1.5rem;
    font-family: "Indie Flower",cursive;
    margin-left: 60px;
  }

#questionContainer {
    font-family: "Indie Flower",cursive;
    font-size: 1.6rem;
  }

  button {
    font-family: "Indie Flower",cursive;
    font-size: 1.6rem;
}

.hidden {
  display: none;
}

